<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Te koop: Prachtig Gezinswoning in Gentse Stropbuurt</title>
    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="https://img.icons8.com/fluency/48/home.png"
    />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="build/style.css" />
    <style>
      /* Lightbox styling */
      #lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 50;
      }

      #lightbox img {
        max-width: 90%;
        max-height: 90%;
      }
    </style>
  </head>

  <body class="bg-gray-100 text-gray-800">
    <!-- Hero Landing Page -->
    <section
      class="relative h-screen bg-cover bg-center"
      style="background-image: url( '{{ content.banner }}' )"
    >
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <div
        class="relative mx-4 flex h-full items-center justify-center text-white"
      >
        <div class="text-center">
          <h1 class="mb-6 text-3xl font-bold lg:text-5xl">TE KOOP</h1>
          <h2 class="mb-6 text-2xl font-bold lg:text-4xl">
            Prachtige Gezinswoning in Gentse Stropbuurt
          </h2>
          <p class="mb-6 font-bold text-xl hidden lg:flex">
            Energiezuinig | Volwaardige 3 slaapkamers | Zonnige stadstuin | Centrale locatie
          </p>
          <p class="mb-6 font-bold text-xl lg:hidden">
            Energiezuinig<br>Volwaardige 3 slaapkamers<br>Zonnige stadstuin<br>Centrale locatie
          </p>
          <p class="mb-24 text-xl">Prijs: {{ content.price }}</p>
          <a
            href="mailto:{{ content.mailto.receiver }}?subject={{ content.mailto.subject }}&body={{ content.mailto.body }}"
            class="rounded-lg bg-blue-500 px-6 py-3 text-white transition hover:bg-blue-700"
          >
            Plan een bezichtiging op 30 november</a
          >
        </div>
      </div>
    </section>

    <!-- Features Sections -->
    {% for section in content.sections %}
      {% if loop.index0 % 2 == 0 %}
        <section
            class="section-feature flex items-center bg-stone-50 lg:h-screen"
        >
          <div class="container mx-auto h-full">
            <div class="flex flex-col h-full lg:flex-row">
      {% else %}
        <section
            class="section-feature flex items-center bg-stone-100 lg:h-screen"
        >
          <div class="container mx-auto h-full">
            <div class="flex flex-col h-full lg:flex-row-reverse">
      {% endif %}
            <div
              class="mx-2 p-6 flex items-center justify-center object-scale-down lg:mx-4 lg:h-full lg:w-2/5 lg:p-0"
            >
              <img
                src="{{ section.hero_image }}"
                alt="{{ section.id }}"
                class="hero-image h-4/5 max-h-full max-w-full rounded-lg shadow-lg"
              />
            </div>

            <!-- section text  -->
            <div class="mx-2 my-auto lg:mx-8 p-8 text-justify lg:w-3/5">
              <h2 class="mb-6 text-3xl font-bold text-left">{{ section.title }}</h2>
              {% for paragraph in section.content %}
                {% if loop.last %}
                  <p class="mb-12 text-lg">{{ paragraph }}</p>
                {% else %}
                  <p class="mb-6 text-lg">{{ paragraph }}</p>
                {% endif %}
              {% endfor %}

              {% if section.detail_images %}
              <!-- Carousel for additional images -->
              <div class="relative">
                <div class="carousel flex h-64 my-auto overflow-hidden" id="carousel-{{ section.id }}">
                  {% for detail_image in section.detail_images %}
                    <div
                      class="carousel-image-{{ section.id }} carousel-item w-full flex-shrink-0 my-auto"
                    >
                      <img
                        src="{{ detail_image }}"
                        alt="{{ section.id }} detail"
                        class="mx-auto my-auto max-h-64 cursor-pointer rounded-lg object-cover shadow-lg"
                        onclick="openLightbox('{{ detail_image }}')"
                      />
                    </div>
                  {% endfor %}
                </div>

                <!-- Arrows for navigation -->
                <button
                  class="absolute left-0 lg:left-40 top-1/2 -translate-y-1/2 transform rounded bg-black bg-opacity-50 px-2 py-1 text-white"
                  onclick="prevSlide('carousel-image-{{ section.id }}')"
                >
                  &#9665;
                </button>
                <button
                  class="absolute right-0 lg:right-40 top-1/2 -translate-y-1/2 transform rounded bg-black bg-opacity-50 px-2 py-1 text-white"
                  onclick="nextSlide('carousel-image-{{ section.id }}')"
                >
                  &#9655;
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    {% endfor %}

    <!-- Features Section: Location -->
    <section
      class="section-feature flex items-center bg-stone-50 py-8 lg:h-screen"
    >
      <div class="container mx-auto h-full">
        <div class="flex h-full flex-col items-center lg:flex-row">
          <!-- map on small screens (zoomed out) -->
          <div
            class="flex h-80 w-4/5 items-center justify-center py-4 lg:hidden lg:h-full lg:w-1/2"
          >
            <iframe
              width="90%"
              height="90%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vlierstraat%2026,%209000%20Gent+(Vlierstraat%2026)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            >
            </iframe>
          </div>
          <div
            class="hidden h-80 w-4/5 items-center justify-center py-4 lg:flex lg:h-full lg:w-1/2"
          >
            <iframe
              width="80%"
              height="80%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vlierstraat%2026,%209000%20Gent+(Vlierstraat%2026)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            >
            </iframe>
          </div>
          <div class="mx-2 p-8 text-justify lg:mx-8 lg:w-1/2 lg:pl-10">
            <h2 class="mb-6 text-3xl font-bold text-left">{{ content.location.title }}</h2>
              {% for paragraph in content.location.content %}
                {% if loop.last %}
                  <p class="mb-12 text-lg">{{ paragraph|safe }}</p>
                {% else %}
                  <p class="mb-6 text-lg">{{ paragraph|safe }}</p>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Specifications Section -->
    <section class="section-feature items-center bg-white">
      <div class="container mx-auto w-4/5 px-4">
        <h2 class="mb-6 pt-12 text-3xl font-bold">Overige gegevens</h2>
        <table class="w-full table-auto border-collapse text-left">
          <tbody>
            <th class="py-4">ALGEMEEN</th>
            <tr>
              <td class="border-b py-2">Prijs</td>
              <td class="border-b py-2">{{ content.price }}</td>
            </tr>
            <tr>
              <td class="border-b py-2">Locatie</td>
              <td class="border-b py-2">Vlierstraat 26, 9000 Gent</td>
            </tr>
            <tr>
              <td class="border-b py-2">Oriëntatie tuin</td>
              <td class="border-b py-2">ZW</td>
            </tr>
            <tr>
              <td class="border-b py-2">Mobiscore</td>
              <td class="border-b py-2">9.5</td>
            </tr>
            <th class="py-4">ENERGIE & FINANCIEEL</th>
            <tr>
              <td class="border-b py-2">Energieklasse</td>
              <td class="border-b py-2">B (153)</td>
            </tr>
            <tr>
              <td class="border-b py-2">Asbest</td>
              <td class="border-b py-2">Asbestveilig</td>
            </tr>
            <tr>
              <td class="border-b py-2">Verwarming</td>
              <td class="border-b py-2">Aardgas<br/>Hoogrendement condensatieketel</td>
            </tr>
            <tr>
              <td class="border-b py-2">Kadastraal inkomen</td>
              <td class="border-b py-2">€597</td>
            </tr>
            <th class="py-4">INTERIEUR</th>
            <tr>
              <td class="border-b py-2">Slaapkamers</td>
              <td class="border-b py-2">3</td>
            </tr>
            <tr>
              <td class="border-b py-2">Badkamers</td>
              <td class="border-b py-2">1</td>
            </tr>
            <tr>
              <td class="border-b py-2">Verdiepingen</td>
              <td class="border-b py-2">2</td>
            </tr>
            <th class="py-4">OPPERVLAKTES</th>
            <tr>
              <td class="border-b py-2">Bewoonbaar oppervlakte</td>
              <td class="border-b py-2">117 m²</td>
            </tr>
            <tr>
              <td class="border-b py-2">Grond oppervlakte</td>
              <td class="border-b py-2">115 m²</td>
            </tr>
            <tr>
              <td class="border-b py-2">Leefgedeelte oppervlakte</td>
              <td class="border-b py-2">
                Woonkamer: 21 m²<br />
                Keuken: 18 m²
              </td>
            </tr>
            <tr>
              <td class="border-b py-2">Slaapkamers oppervlakte</td>
              <td class="border-b py-2">
                Slaapkamer 1: 13 m²<br />
                Slaapkamer 2: 13 m²<br />
                Slaapkamer 3: 12 m²
              </td>
            </tr>
          </tbody>
        </table>
        <div
          class="flex flex-col flex-wrap items-center justify-center space-y-4 py-8 lg:flex-row lg:gap-y-4 lg:space-x-4 lg:space-y-0"
        >
            {% for file in content.files %}
              <a
              href="{{ file.path }}"
              class="rounded-lg bg-blue-500 px-4 py-2 text-white transition hover:bg-blue-700"
              target="_blank"
              >Download {{ file.label }}</a
            >
          {% endfor %}

       </div>
       <div
          class="flex flex-col flex-wrap items-center justify-center space-y-4 py-8 lg:flex-row lg:gap-y-4 lg:space-x-4 lg:space-y-0"
        >
          {% for file in content.important_files %}
            <a
            href="{{ file.path }}"
            class="rounded-lg bg-red-500 px-4 py-2 text-white transition hover:bg-red-700"
            target="_blank"
            >Download {{ file.label }}</a
          >
          {% endfor %}

       </div>
      </div>
    </section>

    <!-- Lightbox -->
    <div id="lightbox" class="flex">
      <img id="lightbox-img" src="" alt="Expanded Image" onclick="closeLightbox()"/>
      <button
        class="absolute right-4 top-4 text-3xl text-white"
        onclick="closeLightbox()"
      >
        &times;
      </button>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 py-8 text-center text-white">
      <p> Contacteer ons voor een bezoek</p>
      <a
        href="mailto:{{ content.mailto.receiver }}?subject={{ content.mailto.subject }}&body={{ content.mailto.body }}"
        class="font-bold"
      >
        vlierstraat26@outlook.com</a>
    </footer>

    <!-- JavaScript for Carousel and Lightbox -->
    <script>
      function addSwipeEvents(carouselContainerId, carouselImageClass) {
        let startX = 0;
        let endX = 0;

        const carouselContainer = document.getElementById(carouselContainerId);

        carouselContainer.addEventListener("touchstart", (e) => {
          startX = e.touches[0].clientX;
          endX = startX; // reset endX to avoid misfires when no touchmove
        });

        carouselContainer.addEventListener("touchmove", (e) => {
          endX = e.touches[0].clientX;
        });

        carouselContainer.addEventListener("touchend", () => {
          const threshold = 50; // Minimum distance for a swipe
          if (startX - endX > threshold) {
            nextSlide(carouselImageClass); // Swipe left to go to the next slide
          } else if (endX - startX > threshold) {
            prevSlide(carouselImageClass); // Swipe right to go to the previous slide
          }
        });
      }

      // Initialize swipe events for each carousel
      {% for section in content.sections %}
        {% if section.detail_images %}
          addSwipeEvents("carousel-{{ section.id }}", "carousel-image-{{ section.id }}");
        {% endif %}
      {% endfor %}

      let currentSlides = {
        {% for section in content.sections %}
            carousel_image_{{ section.id }}: 0,
        {% endfor %}
      };

      function nextSlide(imageClass) {
        const currentCarouselClass = ".".concat(imageClass);
        const carouselItems = document.querySelectorAll(currentCarouselClass);
        const slideKey = imageClass.replaceAll("-", "_");

        let numItems = carouselItems.length;
        let currentSlide = currentSlides[slideKey];
        let newSlide = (currentSlide + 1) % numItems;

        carouselItems[currentSlide].classList.add("hidden");
        carouselItems[newSlide].classList.remove("hidden");
        currentSlides[slideKey] = newSlide;
      }

      function prevSlide(imageClass) {
        const currentCarouselClass = ".".concat(imageClass);
        const carouselItems = document.querySelectorAll(currentCarouselClass);
        const slideKey = imageClass.replaceAll("-", "_");

        let numItems = carouselItems.length;
        let currentSlide = currentSlides[slideKey];
        let newSlide = (currentSlide - 1 + numItems) % numItems;

        carouselItems[currentSlide].classList.add("hidden");
        carouselItems[newSlide].classList.remove("hidden");
        currentSlides[slideKey] = newSlide;
      }


      function openLightbox(imageUrl) {
        document.getElementById("lightbox-img").src = imageUrl;
        document.getElementById("lightbox").style.display = "flex";
      }

      function closeLightbox() {
        document.getElementById("lightbox").style.display = "none";
      }
    </script>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif"alt=""referrerpolicy="no-referrer-when-downgrade" /></noscript>
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('CpWNemAT2qFxjZCJ');
      insights.trackPages();
    </script>
  </body>
</html>
