<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Te koop: Prachtig Familiehuis</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="build/style.css" />
    <style>
      /* Lightbox styling */
      #lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 50;
      }

      #lightbox img {
        max-width: 90%;
        max-height: 90%;
      }
    </style>
  </head>

  <body class="bg-gray-100 text-gray-800">
    <!-- Hero Landing Page -->
    <section
      class="relative h-screen bg-cover bg-center"
      style="background-image: url(https://i.ibb.co/7Q3M6z5/image-22.png)"
    >
      <div class="absolute inset-0 bg-black opacity-50"></div>
      <div
        class="relative mx-4 flex h-full items-center justify-center text-white"
      >
        <div class="text-center">
          <h1 class="mb-6 text-3xl font-bold lg:text-5xl">TE KOOP</h1>
          <h2 class="mb-6 text-2xl font-bold lg:text-4xl">
            Prachtige gezinswoning in Gent
          </h2>
          <p class="mb-4 text-xl">Prijs: €465.000</p>
          <p class="mb-12 text-xl">
            3 slaapkamers | Zonnige stadstuin | Centrale locatie
          </p>
          <a
            href="#contact"
            class="rounded-lg bg-blue-500 px-6 py-3 text-white transition hover:bg-blue-700"
          >
            Plan een bezichtiging</a
          >
        </div>
      </div>
    </section>

    <!-- Features Sections -->
    {% for section in content.sections %}
      <section
        class="section-feature flex items-center bg-stone-100 py-8 lg:h-screen"
      >
        <div class="container mx-auto h-full px-4">
          <div class="flex h-full flex-col items-center lg:flex-row">
            <div
              class="mx-8 flex h-96 w-auto items-center justify-center object-scale-down p-8 lg:h-full lg:w-auto"
            >
              <img
                src="{{ section.hero_image }}"
                alt="Tuin"
                class="hero-image max-h-full rounded-lg shadow-lg"
              />
            </div>
            <div class="mx-8 p-8 text-justify lg:w-1/2 lg:pl-10">
              <h2 class="mb-4 text-3xl font-bold">{{ section.title }}</h2>
              {% for sectioncontent in section.content %}
                {% if loop.last %}
                  <p class="mb-12 text-lg">{{ sectioncontent }}</p>
                {% else %}
                  <p class="mb-6 text-lg">{{ sectioncontent }}</p>
                {% endif %}
              {% endfor %}
              <!-- Carousel for additional images -->
              <div class="relative">
                <div class="carousel flex max-h-80 overflow-hidden">
                  {% for detail_image in section.detail_images %}
                    <div
                      class="{{ section.id }} carousel-item w-full flex-shrink-0"
                    >
                      <img
                        src="{{ detail_image }}"
                        alt="Tuin 1"
                        class="mx-auto max-h-80 cursor-pointer rounded-lg object-cover shadow-lg"
                        onclick="openLightbox('{{ detail_image }}')"
                      />
                    </div>
                  {% endfor %}
                </div>

                <!-- Arrows for navigation -->
                <button
                  class="absolute left-0 top-1/2 -translate-y-1/2 transform rounded bg-black bg-opacity-50 px-2 py-1 text-white"
                  onclick="prevSlide('{{ section.id }}')"
                >
                  &#9665;
                </button>
                <button
                  class="absolute right-0 top-1/2 -translate-y-1/2 transform rounded bg-black bg-opacity-50 px-2 py-1 text-white"
                  onclick="nextSlide('{{ section.id }}')"
                >
                  &#9655;
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}

    <!-- Repeat similar structure for other sections -->
    <!-- Kitchen, Garden, and Specifications as before -->

    <!-- Features Section: Location -->
    <section
      class="section-feature flex items-center bg-stone-50 py-8 lg:h-screen"
    >
      <div class="container mx-auto h-full px-4">
        <div class="flex h-full flex-col items-center lg:flex-row-reverse">
          <div class="flex h-full w-4/5 items-center justify-center lg:w-1/2">
            <iframe
              width="90%"
              height="400"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Vlierstraat%2026,%209000%20Gent+(Vlierstraat%2026)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            >
            </iframe>
          </div>
          <div class="mx-8 p-8 lg:w-1/2 lg:pl-10">
            <h2 class="mb-4 text-3xl font-bold">Centrale locatie</h2>
            <p class="mb-6 text-lg">
              Deze woning is gelegen in de populaire stropbuurt. Op een
              boogscheut van het Citadelpark vind je hier winkels en scholen op
              wandelafstand. Openbaar vervoer is steeds nabij met belangrijke
              buslijnen in de naburige straten en het Sint-Pietersstation op
              slechts 5 minuten fietsen. Via de grote invalswegen E17 en E40 ben
              je ook zo weer uit de stad naar je werk of naar de zee! Voor
              ontspanning heb je verschillende musea, zwembad "De Strop",
              kinepolis cinema en verschillende fitness centra ter je
              beschikking!
            </p>
            <p class="mb-6 text-lg">
              Mogelijkheid tot het overnemen van huur afgesloten en overdekte
              auto- en fietsstapplaats aan de overkant van de straat
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Specifications Section -->
    <section class="section-feature items-center bg-white">
      <div class="container mx-auto w-4/5 px-4">
        <h2 class="mb-6 pt-12 text-3xl font-bold">Overige gegevens</h2>
        <table class="w-full table-auto border-collapse text-left">
          <tbody>
            <th class="py-4">ALGEMEEN</th>
            <tr>
              <td class="border-b py-2">Prijs</td>
              <td class="border-b py-2">€465.000</td>
            </tr>
            <tr>
              <td class="border-b py-2">Locatie</td>
              <td class="border-b py-2">Vlierstraat 26, 9000 Gent</td>
            </tr>
            <tr>
              <td class="border-b py-2">Bewoonbaar oppervlakte</td>
              <td class="border-b py-2">117 m²</td>
            </tr>
            <tr>
              <td class="border-b py-2">Grond oppervlakte</td>
              <td class="border-b py-2">115 m²</td>
            </tr>
            <tr>
              <td class="border-b py-2">Volledige renovatie</td>
              <td class="border-b py-2">2016</td>
            </tr>
            <th class="py-4">INTERIEUR</th>
            <tr>
              <td class="border-b py-2">Aantal slaapkamers</td>
              <td class="border-b py-2">3</td>
            </tr>
            <tr>
              <td class="border-b py-2">Aantal badkamers</td>
              <td class="border-b py-2">1</td>
            </tr>
            <tr>
              <td class="border-b py-2">Aantal verdiepingen</td>
              <td class="border-b py-2">2</td>
            </tr>
            <tr>
              <td class="border-b py-2">Oppervlakte leefgedeelten</td>
              <td class="border-b py-2">
                Woonkamer: XX m²<br />
                Keuken: XX m²
              </td>
            </tr>
            <tr>
              <td class="border-b py-2">Oppervlakte slaapkamers</td>
              <td class="border-b py-2">
                Slaapkamer 1: XX m²<br />
                Slaapkamer 2: XX m²<br />
                Slaapkamer 3: XX m²
              </td>
            </tr>
            <th class="py-4">ENERGIE & FINANCIEEL</th>
            <tr>
              <td class="border-b py-2">Energieklasse</td>
              <td class="border-b py-2">C (226)</td>
            </tr>
            <tr>
              <td class="border-b py-2">Kadastraal inkomen</td>
              <td class="border-b py-2">€597</td>
            </tr>
          </tbody>
        </table>
        <div
          class="flex flex-col items-center justify-center space-y-4 py-8 lg:flex-row lg:space-x-4 lg:space-y-0"
        >
          <a
            href="#"
            class="rounded-lg bg-blue-500 px-4 py-2 text-white transition hover:bg-blue-700"
            >Download Plattegrond (PDF)</a
          >
          <a
            href="#"
            class="rounded-lg bg-green-500 px-4 py-2 text-white transition hover:bg-green-700"
            >Download Eigendomspapieren (PDF)</a
          >
        </div>
      </div>
    </section>

    <!-- Lightbox -->
    <div id="lightbox" class="flex">
      <img id="lightbox-img" src="" alt="Expanded Image" />
      <button
        class="absolute right-4 top-4 text-3xl text-white"
        onclick="closeLightbox()"
      >
        &times;
      </button>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 py-8 text-center text-white">
      <p>
        Neem contact op met ons via:
        <span class="font-bold">06-12345678</span> | Email:
        <span class="font-bold">makelaar@example.com</span>
      </p>
      <p class="mt-4">&copy; 2024 Makelaardij Amsterdam</p>
    </footer>

    <!-- JavaScript for Carousel and Lightbox -->
    <script>
      let currentSlides = {
        {% for section in content.sections %}
            tuin: 0,
        {% endfor %}
      };
      function nextSlide(id) {
        let currentSlide = currentSlides[id];
        const currentCarouselClass = ".".concat(id);
        const carouselItems = document.querySelectorAll(currentCarouselClass);
        carouselItems[currentSlide].classList.add("hidden");
        currentSlide = (currentSlide + 1) % carouselItems.length;
        carouselItems[currentSlide].classList.remove("hidden");
        currentSlides[id] = currentSlide;
      }

      function prevSlide(id) {
        let currentSlide = currentSlides[id];
        const currentCarouselClass = ".".concat(id);
        const carouselItems = document.querySelectorAll(currentCarouselClass);
        carouselItems[currentSlide].classList.add("hidden");
        currentSlide =
          (currentSlide - 1 + carouselItems.length) % carouselItems.length;
        carouselItems[currentSlide].classList.remove("hidden");
        currentSlides[id] = currentSlide;
      }

      function openLightbox(imageUrl) {
        document.getElementById("lightbox-img").src = imageUrl;
        document.getElementById("lightbox").style.display = "flex";
      }

      function closeLightbox() {
        document.getElementById("lightbox").style.display = "none";
      }
    </script>
  </body>
</html>
